.bar .tabler-icon {
  font-size: 18px;
}

.workspaces {
  .tabler-icon {
    font-size: 12px;
    margin: 0px -4px;
  }

  button .tabler-icon {
    margin: 2px;
  }

  .active .tabler-icon,.overlayed .tabler-icon {
    font-size: 16px;
    margin: 0px;
  }

  button.active {
    color: $accent-color-3;
  }

  button.overlayed {
    color: $accent-color-2;
  }
}

button.highlighteable:hover {
  color: $accent-color;
}

.battery .tabler-icon {
  font-size: 22px;
}

.battery.low {
  color: #E42;
  font-weight: bold;
}
