scale.bar-metric.active trough highlight {
  background-color: $accent-color;
}

scale.bar-metric trough highlight {
  background-color: $font-color;
  border-radius: 3px;
}

scale.bar-metric trough {
  background-color: #4e4e4e;
  border-radius: 3px;
  min-height: 6px;
  min-width: 50px;
}

circular-progress.circular-metric {
  background-color: #4e4e4e;
}
