.test-svg {
  background-repeat: no-repeat;
  background-color: #000;
  color: #0F0;
  font-family: "tabler-icons";
  font-size: 20px;
}

image path {
  color: #00F;
}

svg {
  background: #0F0;
  color: #0F0;
}

