$violet: #9966ff;
$heavy-pink: #ff2277;
$orange: #ee8844;
$pale-blue: #4f7f7f;
$salmon: #dfafaf;
$pink: #f050a0;
$pastel-orange: #e0a070;
$pastel-violet: #9966dd;
$pastel-yellow: #d0d0a0;
$pastel-blue: #a0d0d0;
$light-gray: #b0b4bc;

$font-color: $light-gray;
$backdrop-color: rgba(176, 180, 188, 0.3);
$accent-color: $pink;
$accent-color-2: $orange;
$accent-color-3: $pastel-violet;
$background: rgba(0, 0, 0, 0.8);
$border: 1px solid $pastel-violet;

